 /*
    Folha de Estilo do Site One Page HTML 5 e CSS3
    @Tuta:Tuta
    */
 
    /*Importação fontes (Google Fonts)*/
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
 
    /*CSS reset*/
    *{
        margin: 0;
        border: 0;
        padding: 0;
    }
 
    html {
        scroll-behavior: smooth;
    }
 
    body {
        font-family: "Open Sans", sans-serif;
        font-size: 1em; /* em é o tamanho atual da fonte*/
    }
 
    /*Layout*/
    .Container {
        margin: 0 auto;
    }
    .Flex {
        display: flex;
        justify-content: space-between;
    }
 
    .Flex2 {
        display: flex;
        align-items: center;
    }
 
    .Flex3 {
        display: flex;
        flex-direction: column;
    }
 
    .Flex4 {
        display: flex;
        flex-wrap: wrap; /*define se ps itens ficam na mesma linha ou podem ser quebrados em varias linhas*/
        justify-content: space-evenly;
    }
 
    .Flex5 {
        display: flex;
        flex-direction: column-reverse; /* se comporta igual ao column, porém, pontos de início e término são invertidos*/
    }
 
    .Flex6 {
        display: flex;
        flex-direction: column;
        justify-content: space-around; /* os itens são distribuídos na linha com o mesmo epaçamento entre eles*/
    }
 
    /* Botão */
    .Botao {
        text-decoration: none; /* para adicionar uma pequena decoração a um texto */
        color: #fff;
        font-size: 1.3em;
        font-weight: 700;
        background-color: #c00000;
        padding: 10px 40px;
        border: 2px solid #fff;
        border-radius: 25px;
    }
 
    /* topo do site */
    #topo {
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
 
    /* Cartões */
    .Card {
        margin-top: 25px;
        width: 338px;
        height: 520px;
        background-color: #e8e8e8;
        border: 1px solid #a1a1a1;
        border-radius: 25px;
        text-align: center;
    }
 
    .Card img {
       border-radius: 25px 25px 0px 0px;
    }
    .Card h3{
        margin-top: 15px;
    }
    .Card p{
        text-align: left;
        color: #434343;
        padding: 10px 30px 50px 30px;
    }

    .Card a{
        padding: 10px 100px;
        border: 0;
    }

    /*Smartphone*/
    /*Cabeçalho*/

    header{
        height: 60px;
    }

    #logo img {
        width: 128px;
        height: 128px;
    }
     
    #check {
        display: none;
    }
     
    label{
        font-size: 3em;
        position: fixed;
        top: 5px;
        right: 15px;
        color: rgba(0, 0, 0, 0.5);
    }
     
    nav ul{
        list-style: none;
        background-color: #343538;
        height: 100vh;
        top: 60px;
        right: -100px;
        width: 100%;
        transition: all 0.5s;
    }
    #check.checked ~ ul{
        right: 0;
    }
    nav ul li{
        padding: 20px;
        border-bottom: 1px solid #a9a9a9;
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
    }
    /*Destaque*/
    main{
        height: 75vh;
        background: url(img/banner.jpg);
        background-size: cover;
        background-position: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    main h1{
        font-size: 2.5em;
    }
    main h2{
        font-size: 1em;
        margin: 20px 0px 50px 0px;
    }
    /*Sobre*/
    #sobre {
        padding: 50px 0px;
        background: url(img/background.png);
        background-size: cover;
        background-position: center;
    }
    #destaqueSobre{
        display: none;
    }
    #textoSobre{
        color: #fff;
        padding: 0px 10px;
    }
    #textoSobre h2{
        margin-bottom: 10px;
    }
    .TopicosSobre{
        margin-top: 20px;
    }
    .TopicosSobre{
        margin-top: 20px;
    }
    .TopicosSobre img{
        margin-right: 10px;
    }
    /* One Page */